.flex{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    }
    


.graph{
    display:flex;
    height: 350px;
    transform: rotate(180deg);
    justify-content: flex-end;
    
    }
    
    
.first {
    width: 75px;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    margin-left:5px;
    margin-right:5px;
    background-color: rgb(101,250,138);
    animation-name: first;
    animation-duration: 3s;
}
.second {
    width: 75px;
    height: 200px;
    margin-left:5px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(101,184,138);
    animation-name: second;
    animation-duration: 3s;
}
.third {
    width: 75px;
    height: 300px;
    margin-left:5px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(0,124,65);
    animation-name: third;
    animation-duration: 3s;
}

.header{
    font-size: 50px;
    animation-name: word;
    animation-duration:3s;
}


.secondHeader{
    color: rgb(101,184,138);
    animation-name: word;
    animation-duration:4s;
}

@keyframes first {
    0%  {height:0;}
    100%  {height: 100px;}
}
@keyframes second {
    0%  {height:0;}
    100%  {height:200px;}
}
@keyframes third {
    0%  {height:0;}
    100%  {height:300px;}
}

@keyframes word{
    0% {opacity: 0;}
    100% {opacity: 1;}
}  
